fastapi>=0.111
uvicorn[standard]>=0.30
streamlit>=1.36
requests>=2.32
pandas>=2.2
pydantic[email]>=2.7
python-multipart>=0.0.9
PyMySQL>=1.1
python-dotenv>=1.0
opencv-python>=4.8
ultralytics>=8.2
bcrypt>=4.1
PyJWT>=2.8
pillow>=10.3
mediapipe>=0.10.0
insightface>=1.0.1
retina-face>=0.0.18
onnxruntime>=1.20.0
